// THIS IS BROKEN -- the intent is to try display correct/incorrect text by creating div under the questions/answer
// area + showing text. 

  // function validateYES () {
  //   const newDiv = document.createElement ("div");
  //   const newContent =document.createTextNode("GOOOOAAAL!");
  //   newDiv.appendChild(newContent);
  //   const currentDiv = document.getElementById("container");
  //   document.body.insertAfter(newDiv, currentDiv);
  // }

  // function validateNO () {
  //   const newDiv = document.createElement ("div");
  //   const newContent =document.createTextNode("Ugh! What a missed opportunity!"");
  //   newDiv.appendChild(newContent);
  //   const currentDiv = document.getElementById("container");
  //   document.body.insertAfter(newDiv, currentDiv);
  // }