* {
    background-color: rgb(151, 43, 43);
    color: white;
    
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

#home, .container, #highscorePage {
    text-align: center;
    padding: 75px;
}

#displayScore {
    text-align: center;
    padding: 10px;
}

#countdown {
    text-align: right;
    padding-top: 5px;
}

